@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Heebo&family=Rajdhani&display=swap');

body{
    background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?cs=srgb&dl=pexels-pixabay-36717.jpg&fm=jpg);
    text-align: center;
}

.Head{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    font-size: 70px;
    border: 3px solid rgb(0, 0, 0);
    width: 50vw;
    height: 4.5vw;
    opacity: .4; 
    background-color: rgb(255, 255, 255);
}

.Head1{
    color: rgb(240, 255, 240)
}


.thic{
    width: 50vw;
    font-family: "Caveat";
    background-color: rgb(43, 21, 21);
    margin: 0 auto;
    color: rgb(255, 255, 255)
}

.thic1{
    width: 50vw;
    font-family: "Caveat";
    background-color: rgb(43, 21, 21);
    margin: 0 auto;
    opacity: .9; 
    color: rgb(255, 255, 255)
}

#BIG{
    font-size: 50px;
}

a{
    display: block;
}